{:paths ["src" "resources"]

 :deps
 {lambdaisland/data-printers       {:mvn/version "0.7.47"}
  lambdaisland/jbox2d-library      {:mvn/version "2.3.1.756"}
  org.apache.commons/commons-math3 {:mvn/version "3.6.1"}}

 :aliases
 {:testbed
  {:extra-deps  {lambdaisland/jbox2d-testbed-jogl {:mvn/version "2.3.1.756"}
                 lambdaisland/jbox2d-testbed {:mvn/version "2.3.1.756"}}}

  :quil
  {:extra-deps {quil/quil {:mvn/version "3.1.0"}}}

  :quil4
  {:extra-deps {quil/quil {:mvn/version "4.0.0-SNAPSHOT"}}}

  :clojure2d
  {:extra-deps {clojure2d/clojure2d {:mvn/version "1.4.5-SNAPSHOT"}}}

  :cljs
  {:extra-paths ["dev"]
   :extra-deps {thheller/shadow-cljs {:mvn/version "2.22.0"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.80.1274"}}}}}
